aiodns==2.0.0
aiohttp==3.5.4
aiohttp-socks==0.2.2
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
cchardet==2.1.4
cffi==1.12.3
chardet==3.0.4
cycler==0.10.0
elasticsearch==7.0.2
emoji==0.5.2
fake-useragent==0.1.11
geographiclib==1.49
geopy==1.20.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.0
multidict==4.5.2
nltk==3.4.1
numpy==1.16.3
pandas==0.24.2
pkg-resources==0.0.0
pycares==3.0.0
pycparser==2.19
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
schedule==0.6.0
six==1.12.0
soupsieve==1.9.1
textblob==0.15.3
-e git+https://github.com/twintproject/twint.git@9e02ba9c2f314796007f76a417eaa19780c1df7f#egg=twint
urllib3==1.25.8
yarl==1.3.0
